body {
    text-align: center;
    background-color: #ffe6f0;
    font-family: Arial, sans-serif;
}

#puzzle {
    width: 360px;
    height: 360px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.piece {
    width: 120px;
    height: 120px;
    background-image: url('../foto.jpg'); /* CAMINHO CORRETO */
    background-size: 360px 360px;
    cursor: pointer;
    border: 1px solid #fff;
}